In [22]:
from fuzzywuzzy import process

import pandas as pd

## Functions

In [2]:
def clean_purpose_column(df: pd.DataFrame, column: str, manual_groups = ['car', 'debt consolidation', 'home improvement', 'other', 'medical', 'bills', 'repairs', 'expenses', 'bike'], default_value: str = 'non_grouped') -> pd.DataFrame:
    """
    Cleans and groups entries in a specified column, setting non-matching entries to a default value.
    
    Parameters:
    df (pd.DataFrame): The input DataFrame.
    column (str): The column to clean.
    manual_groups (list): A list of acceptable groups to retain.
    default_value (str): The value to assign to entries not in manual_groups (default is 'non_grouped').
    
    Returns:
    pd.DataFrame: The updated DataFrame with the cleaned column.
    """
    
    # Function to map each entry to the closest known purpose
    def match_purpose(entry):
        match, score = process.extractOne(entry, known_purposes)
        if score >= 80:  # Choose a similarity threshold (e.g., 80%)
            return match
        else:
            return entry  # Return original if no close match is found
        
        
    
    # Step 1: Standardise the column by converting to lowercase
    df[column] = df[column].str.lower()
    
    # Step 2: Map common variations to a standard category
    purpose_mapping = {
        'car': 'car',
        'car loan': 'car',
        'vehicle': 'car',
        'new car': 'car',
        'car purchase': 'car',
        'car repairs' : 'car',
        'car repair' : 'car',
        'vehicle purchase' : 'car',
        'van' : 'car',



        'consolidation' : 'debt consolidation',
        'debt consolidation': 'debt consolidation', 
        'consolidate debt' : 'debt consolidation', 
        'debts' : 'debt consolidation', 
        'consolodation' : 'debt consolidation',

        'home': 'home improvement',
        'home improvement': 'home improvement',
        'home improvements': 'home improvement',
        'home improvments': 'home improvement',
        'furniture' : 'home improvement',
        'household' : 'home improvement',
        'house': 'home improvement',
        'household items': 'home improvement',
        'improvements' : 'home improvement',

        'other': 'other',

        'medical expenses': 'medical',
        'emergency' : 'medical',
        'family emergency' : 'medical',

        'bills' : 'bills',
        'vet bills' : 'bills',
        'vet bill' : 'bills',
        'vets bill' : 'bills',
        'car bills' : 'bills',

        'repairs' : 'repairs',

        'personal loan' : 'expenses',
        'unexpected expense' : 'expenses',

        'motorbike' : 'bike',
        'bike' : 'bike',
        'motorcycle' : 'bike'
    }
    df[column] = df[column].replace(purpose_mapping).copy()

    # Define a list of known purposes to map entries to
    known_purposes = manual_groups


    # Step 3: Apply fuzzy matching to the purpose column
    df[column] = df[column].apply(match_purpose).copy()

    
    # Step 4: Replace entries not in manual_groups with the default value ('Other')
    df.loc[~df[column].isin(manual_groups), column] = default_value
    
    return df

## Import Data

In [9]:
# Load in Credit Features data

credit_features_df = pd.read_csv('../credit_features.csv')

In [10]:
# Load in Application Sample data

applications_df = pd.read_csv('../application_samples.csv')

In [11]:
merged_df = applications_df.merge(credit_features_df, how='inner', on='UID')

## Feature Engineering

#### Preprocess LoanPurpose

In [12]:
# Transform the 'LoanPurpose' column
merged_df = clean_purpose_column(merged_df, 'LoanPurpose')

In [13]:
merged_df.head()

,UID,ApplicationDate,Amount,Term,EmploymentType,LoanPurpose,Success,ALL_AgeOfOldestAccount,ALL_AgeOfYoungestAccount,ALL_Count,ALL_CountActive,ALL_CountClosedLast12Months,ALL_CountDefaultAccounts,ALL_CountOpenedLast12Months,ALL_CountSettled,ALL_MeanAccountAge,ALL_SumCurrentOutstandingBal,ALL_SumCurrentOutstandingBalExcMtg,ALL_TimeSinceMostRecentDefault,ALL_WorstPaymentStatusActiveAccounts
0,4921736,03/07/2020,2000,60,Employed - full time,bills,0,162,17,18,12,0,0,0,6,70.94,68555,15019,-1,0
1,1241981,04/02/2020,3000,60,Employed - full time,non_grouped,0,266,30,14,10,0,4,0,4,104.79,2209,2209,-1,7
2,5751748,02/08/2020,20000,60,Employed - full time,non_grouped,0,90,52,4,2,0,1,0,2,68.25,5108,5108,-1,7
3,7163425,23/09/2020,20000,60,Self employed,non_grouped,0,163,19,14,6,1,1,0,8,67.50,25738,25738,-1,0
4,227377,01/01/2020,5000,36,Employed - full time,car,0,129,2,38,19,4,9,8,19,56.45,5801,5801,-1,7

#### Preprocess Credit Features

__Turn All_CountSettled/All_Count into a feature: the fraction of all that have been settled__

In [14]:
# Check for 0s, as we are about to do division
merged_df['ALL_Count'].min()

0

In [15]:
# Create new feature
merged_df['fraction_ALL_closed'] = merged_df['ALL_CountSettled']/merged_df['ALL_Count']

# Replace -inf values
merged_df.loc[merged_df['ALL_Count']==0, 'fraction_ALL_closed'] = - 100

__Turn ALL_CountClosedLast12Months - ALL_CountOpenedLast12Months into a feature__

the difference between closed and opened accounts in the last 12m

In [19]:
merged_df['Closed_Opened_Diff_Last12m'] = merged_df['ALL_CountClosedLast12Months'] - merged_df['ALL_CountOpenedLast12Months']

## Export Data to Train on

- use all features from application_samples
- use all features from credit_features, except for:
  - ALL_CountOpenedLast12Months
  - ALL_CountClosedLast12Months
  - ALL_TimeSinceMostRecentDefault
  - ALL_CountSettled
  - ApplicationDate
  
- include ALL_AgeOfYoungestAccount for now, but expect it to not be important to the model
- use Closed_Opened_Diff_Last12m and fraction_ALL_closed

In [20]:
features_to_include = ['UID',
                     'ALL_AgeOfOldestAccount',
                     'ALL_AgeOfYoungestAccount',
                     'ALL_Count',
                     'ALL_CountActive',
                     'ALL_CountDefaultAccounts',
                     'ALL_MeanAccountAge',
                     'ALL_SumCurrentOutstandingBal',
                     'ALL_SumCurrentOutstandingBalExcMtg',
                     'ALL_WorstPaymentStatusActiveAccounts',
                     'Amount',
                     'Term',
                     'EmploymentType',
                     'LoanPurpose',
                     'Success',
                     'fraction_ALL_closed',
                     'Closed_Opened_Diff_Last12m'
                      ]

### Save to parquet for model ingestion

In [23]:
merged_df[features_to_include].to_parquet('./data_4_model.parquet')